<%- include('partials/header.ejs') %>
    <body class="bg-dark text-white">
        <div class="container-fluid my-5">
            <div class="row justify-content-center">
                <img src="/images/rt.png" class="w-50" />
            </div>
            <div class="row mt-5">
                <h3 class="text-center">Apple Inventory Count</h3>
            </div>
            <div class="row mt-4">
                <p class="text-center">What would you like to do?</p>
            </div>
        </div>
        <div class="container-fluid col-1 mx-auto">
            <button class="btn btn-warning my-2 px-3" onclick="window.location.href = '/view';">View Inventory</button>
            <button class="btn btn-warning my-2" onclick="window.location.href = '/orders';">Order Management</button>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" 
        crossorigin="anonymous"></script>
    </body>
    <footer class="fixed-bottom text-end">
        <%- include('partials/footer.ejs') %>
    </footer>
</html>