<div class="container-fluid my-5">
    <div class="row justify-content-center">
        <img src="./images/rt.png" class="w-50" />
    </div>
    <div class="row mt-4">
        <p class="text-center">What would you like to do?</p>
    </div>
</div>
<div class="container-fluid col-1 mx-auto">
    <button class="btn btn-warning my-2 px-3" onclick="window.location.href = '/view/inventory';">View
        Inventory</button>
    <button class="btn btn-warning my-2" onclick="window.location.href = '/orders';">Order Management</button>
</div>