.scrollbar {
position: relative;
height: 80vh;
padding: 20px;
overflow: auto;
}

.table-wrapper-scroll-y {
display: block;
}

#icon {
    height: 250px;
    width: 250px;
    margin: 20px 0;
}

#bottom-form-input {
    margin: 10px 0;
}

#sort-button {
    background-color: transparent;
    outline: none;
    border: none;
    color: white
}

#search-button {
    background-color: transparent;
    outline: none;
    border: none;
    color: white;
}